.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
*.apk
app/app.iml
SensorReader.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
keystore.jks